{{- /* JSON-LD: Person + WebSite on the home page, BlogPosting + BreadcrumbList on posts, ProfilePage on About. */ -}}
{{- $a := site.Params.author -}}
{{- $sameAs := slice -}}
{{- with $a.github }}{{ $sameAs = $sameAs | append (printf "https://github.com/%s" .) }}{{ end -}}
{{- with $a.linkedin }}{{ $sameAs = $sameAs | append (printf "https://www.linkedin.com/in/%s" .) }}{{ end -}}
{{- with $a.twitter }}{{ $sameAs = $sameAs | append (printf "https://x.com/%s" .) }}{{ end -}}
{{- $personId := printf "%s#person" site.Home.Permalink -}}
{{- $person := dict
    "@type" "Person"
    "@id" $personId
    "name" $a.name
    "url" site.Home.Permalink
    "image" (site.Params.logo | absURL)
    "jobTitle" (site.Params.author.jobTitle | default "Software Engineer")
    "sameAs" $sameAs
-}}
{{- $graph := slice -}}

{{- if .IsHome -}}
  {{- $graph = $graph | append $person -}}
  {{- $graph = $graph | append (dict
      "@type" "WebSite"
      "@id" (printf "%s#website" site.Home.Permalink)
      "url" site.Home.Permalink
      "name" site.Title
      "description" site.Params.description
      "inLanguage" site.Language.LanguageCode
      "author" (dict "@id" $personId)
  ) -}}
{{- else if and .IsPage (eq .Section "post") -}}
  {{- $post := dict
      "@type" "BlogPosting"
      "@id" (printf "%s#article" .Permalink)
      "mainEntityOfPage" .Permalink
      "url" .Permalink
      "headline" .Title
      "description" (partial "page-description.html" .)
      "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
      "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
      "wordCount" .WordCount
      "inLanguage" site.Language.LanguageCode
      "keywords" (delimit (.Params.tags | default slice) ", ")
      "author" $person
      "publisher" (dict "@id" $personId)
  -}}
  {{- with partial "og-image.html" . }}{{ $post = merge $post (dict "image" .Permalink) }}{{ end -}}
  {{- $graph = $graph | append $post -}}
  {{- $graph = $graph | append (dict
      "@type" "BreadcrumbList"
      "itemListElement" (slice
        (dict "@type" "ListItem" "position" 1 "name" "Home" "item" site.Home.Permalink)
        (dict "@type" "ListItem" "position" 2 "name" "Posts" "item" (absURL "post/"))
        (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink)
      )
  ) -}}
{{- else if eq .RelPermalink ("page/about/" | relURL) -}}
  {{- $graph = $graph | append (dict "@type" "ProfilePage" "url" .Permalink "name" .Title "mainEntity" $person) -}}
  {{- $graph = $graph | append (dict
      "@type" "BreadcrumbList"
      "itemListElement" (slice
        (dict "@type" "ListItem" "position" 1 "name" "Home" "item" site.Home.Permalink)
        (dict "@type" "ListItem" "position" 2 "name" .Title "item" .Permalink)
      )
  ) -}}
{{- else if and (in (slice "section" "term") .Kind) (not (partial "is-noindex.html" .)) -}}
  {{- $items := slice -}}
  {{- range $i, $p := .RegularPages -}}
    {{- $items = $items | append (dict "@type" "ListItem" "position" (add $i 1) "url" $p.Permalink "name" $p.Title) -}}
  {{- end -}}
  {{- $graph = $graph | append (dict
      "@type" "CollectionPage"
      "url" .Permalink
      "name" .Title
      "description" (partial "page-description.html" .)
      "author" (dict "@id" $personId)
      "mainEntity" (dict "@type" "ItemList" "itemListElement" $items)
  ) -}}
{{- end -}}

{{- with $graph }}
<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@graph" . | jsonify | safeJS }}</script>
{{- end }}
